body{ background-color: aqua;

}


.main{

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
 
}
.row1{
    width: 79%;
    margin-left: 10%;
    margin-right: 10%;
    height: 40px;
    display: flex;
    align-content:space-around;
    padding: 0px 5px;
    box-shadow: 4px 4px 5px rgb(102, 100, 100);
    background-color: white;
    
}
.row2{
    margin-top: 3%;
}
.ch1{
    width: 9%;
    padding: 5px;
    border-right: 2px solid gray; 
}

input[type=number]{
    outline: none;
    border: none;
    font-size: 20px;
    width: 80px;
    padding: 3px 0px;

}
button{
    
    border: none;
    font-size: 15px;
    font-weight: 300;
    background: transparent;
    padding: 10px 16px;
}
.ch2{
    border-right: 2px solid gray; 
  
}
.ch3{
    border-right: 2px solid gray; 
    
}
.ch4{
    width: 20%;
    padding-top: 3px;
    border-right: 2px solid gray; 

}


input[type=color]{
    outline: none;
    border: none;
    width: 50px;
    

}




.bold{
    font-weight: 900;
}
.itc{
    font-style: italic;
}
.itlc{
    font-style: italic;
}
.under{
    text-decoration: underline;
}
.jst{
    text-align: justify;
}
.center{
    text-align: center;
}
.jleft{
    text-align: left;
}
.jright{
    text-align: right;
}
textarea{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 300px;
    margin-top: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    border-top: 1px solid black;
    outline: none; 
    border: 1px solid black;
    resize: vertical;
    

}



